*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
aside{
  width: 16%;
  height: 100%;
  float: left;
  position: relative;
  background-color:  rgb(61, 61, 61);
}
section{
  background-color:  rgb(61, 61, 61);
  width: 84%;
  float: left;
  height: 100%;
  position: relative;
  
}
.headbar{
  margin: 10px ;
  padding: 0px 0px 10px;
  font-size: 30px;
  color: white;
  border-bottom: 3px solid rgb(41, 41, 41);
}
.Sales-order{
  padding: 20;
  color: white;
  font-size:18 ;
}
.btn-Following{
  font-size: 13px;
  width: 138px;
  height: 35;
  background-color: rgb(239, 78, 7);
  color: white;
  border-radius: 10px;
}
.btn-Following:hover{
  background-color: white !important;;
  color: rgb(239, 78, 7);
  transition: all 0.5s ;
}
.btn-Following1{
  font-size: 13px;
  width: 138px;
  height: 35;
  background-color: white;
  color: #7C7C7C;
  border-radius: 10px;
}
.btn-Following1 img{
  padding: 0 0 4;
}
label.mb-0 {
  margin: 10 0 0 0;
  padding: 0 0 10 0;
  font-size: 16px;
  color: white;
}
.btn-admin-add{
  margin: 0 10 !important;
  font-size: 13px;
  width: 138px;
  height: 35;
  background-color: white  !important;
  color: white;
  border-radius: 10px;
}
.form-select {
  height: 35px;
  --bs-form-select-bg-img: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
  display: block;
  width: 100%;
  padding: .375rem 2.25rem .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bs-body-bg);
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right .75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.ขีด{
color: white;
}
th{
  text-align: center;
}
table.star{
  width: 100%;
}
.dt-layout-end {
  text-align: end;
}
nav button{
  padding: 3;
  border: none !important;
}
.modal-content{
  overflow: hidden;
}
.produck{
  width: 100px !important;
  padding: 5 ;
  float: right !important;
  border: 1px solid #7C7C7C !important;
}
.servict{
  color: #3B3C66;
  box-sizing: border-box  !important;
  font-size: 28px;
}
.P0005{
  color: #3297FF!important;
}
.col-6{
  padding: 0 !important;
}
.type{
  color: #3B3C66;
  font-size: 20px !important;
} 
.project{
 padding: 5 20 !important;
}
.input-group1{
  border-bottom: 1px solid #e5e5e5 !important;
}
.project-1{
  margin: 5 0 ;
  padding: 5;
  width: 300px !important;
  height: 40px !important;
}
.input-group2{
  margin: 10 0 !important;
  border-bottom: 1px solid #e5e5e5 !important;
}
.input-group{
  margin: 10 0 !important;
}
.default{
  text-align: center !important;
  width: 100px !important;
  height: 50px !important;
  background-color: white;
  border-color: rgb(239, 78, 7);
  color: rgb(239, 78, 7);
  border-radius: 20px !important;
}
.default:hover{
  background-color: rgb(239, 78, 7) !important;
  color: white !important;
  translate: all 0.5 !important;
}
.primary{
  text-align: center !important;
  width: 100px !important;
  height: 50px !important;
  background-color: white;
  border-color: rgb(239, 78, 7);
  color: rgb(239, 78, 7);
  border-radius: 20px !important;

}
.primary:hover{
  background-color: rgb(239, 78, 7) !important;
  color: white !important;
  translate: all 0.5 !important;
}
.t-1{
  padding: 15;
  width: 200px !important;
  height: 50px !important;  
  background-color: white;
}